<div class="col-sm-8 blog-main">
	
	<h1><%= @topic.title %></h1>

	<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @topic.title %></li>
    </ol>
  </nav>

	<%= paginate @blogs %>

  <%= render @blogs %>
  
  <%= paginate @blogs %>

</div>