<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_show_path(topic) %></p>
    <% end %>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/isaichenko" target="_blank"><%= fa_icon "github", class: 'fa-3x' %></a></li>
      <li><a href="" target="_blank"><%= fa_icon "instagram", class: 'fa-3x' %></a></li>
      <li><a href="https://twitter.com/isaichenko_e" target="_blank"><%= fa_icon "twitter", class: 'fa-3x' %></a></li>
      <li><a href="https://www.facebook.com/isaichenko.e" target="_blank"><%= fa_icon "facebook", class: 'fa-3x' %></a></li>
    </ol>
  </div>
</div>
